* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    color: #202124;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    padding: 0 32px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

h1 {
    font-size: 64px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 20px;
    font-weight: 500;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 32px;
    color: #5f6368;
}

nav a:hover {
    color: #202124;
}

.nav-btn {
    color: #5f6368;
}

.nav-btn:hover {
    color: #202124;
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
    display: none;
}

.container section {
    scroll-snap-align: start;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.section-content {
    width: 100%;
    max-width: 1400px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greeting-description {
    font-weight: 500;
    font-size: 20px;
    margin-top: 16px;
}

.greeting-image {
    flex: 1;
    display: flex;
    justify-content: end;
}

.aboutme-card {
    flex: 1;
}

.aboutme-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
}

.languagesntools-icon{
    height: 40px;
}

@media screen and (min-width: 768px) {
    .nav-column {
        display: none;
    }

    .nav-links {
        display: flex;
    }

}

@media screen and (max-width: 767px) {

    h1 {
        font-size: 48px;
        font-weight: 600;
    }

    h2 {
        font-size: 24px;
        font-weight: 600;
    }

    h3 {
        font-size: 20px;
        font-weight: 500;
    }

    p {
        font-size: 16px;
    }

    header {
        padding: 0 24px;
    }

    .container {
        height: fit-content;
    }

    .section-content {
        padding-top: 48px;
        padding-bottom: 32px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 48px;
        left: 0;
        background: #fff;
        width: 100%;
        padding: 0px 24px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        padding-bottom: 16px;
    }

    .nav-links.active {
        display: flex;
    }

    nav a {
        /* text-align: end; */
        margin: 12px 0px;
    }

    nav a:hover {
        color: #202124
    }

    .section-content {
        flex-direction: column;
    }

    .greeting-image {
        display: none;
    }
}

/* .hidden {
    opacity: 0;
    transition: all 1s ease-out;
}

.show {
    opacity: 1;
} */