* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    color: #202124;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    padding: 0 16px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    margin: 16px;
    color: #5f6368;
}

nav a:hover {
    color: #202124;
}

.nav-btn {
    color: #5f6368;
}

.nav-btn:hover {
    color: #202124;
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
    display: none;
}

.container section {
    scroll-snap-align: start;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.section-content {
    width: 100%;
    max-width: 1460px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.greeting-description {
    font-weight: 500;
    font-size: 20px;
    margin-top: 16px;
}

.greeting-image {
    width: 340px;
}

@media screen and (min-width: 768px) {
    .nav-column {
        display: none;
    }

    .nav-links {
        display: flex;
    }

}

@media screen and (max-width: 767px) {
    .section-content{
        padding-top: 64px;
        padding-bottom: 16px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 48px;
        left: 0;
        background: white;
        width: 100%;
        padding: 16px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    .nav-links.active {
        display: flex;
    }

    /* nav a  {
        text-align: end;
    } */

    nav a:hover {
        color: #202124
    }

    .section-content {
        flex-direction: column;
    }
}